<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> División </title>
</head>
<body>
    <h1> Resultado división: </h1>
    {% if num2 == null %}
        <p> No se puede dividir por cero </p>
    {% else %}
        <p> {{ num1 / num2 }} </p>
    {% endif %}    
</body>
</html>