<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HolaNombre</title>
</head>
<body>
    <p> Hola {{ nombre }} </p>
    {% if edad %}
        <p> Tengo {{edad}} </p>
    {% else %}
        <p> No tengo edad :( </p>  
    {% endif %}
</body>
</html>